@import url(./styles/variables.css);
* {
  box-sizing: border-box;
}

:visited {
  color: var(--font-color);
}
:link {
  color: var(--primary);
}
.fas {
  cursor: pointer;
  color: var(--primary);
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: var(--font-family);
  color: var(--font-color);
}
#root {
  height: 100vh;
}
.wrapper {
  height: 100%;
  width: 100%;
  background-color: var(--background);
}
.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40rem;
}
